###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=CHANGE_ME_GENERATE_WITH_openssl_rand_hex_32
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:root@db:3306/symfony?serverVersion=8.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=smtp://mailhog:1025
###< symfony/mailer ###

###> mongodb ###
MONGODB_URL=mongodb://root:root@mongodb:27017
###< mongodb ###
